mixin ToggleButton(name, val, checked)
  label.toggle-button
      input.toggle-button__input(type="checkbox" name=name value=val checked=checked)
      span.toggle-button__box
      span.toggle-button__text=val