.text-field{
  display: flex;
  flex-direction: column;
  &__label{
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &__title{
    @include font_for_label;
  }
  &__type{
    color:$darkShade50;
    font-weight: 400;
  }
  &__input{
    border:1px solid $darkShade25;
    padding: 13px 15px;
    border-radius: 4px;
    transition: border .2s linear;
    @include font_for_body;
    &::placeholder{
      font-size: 14px;
      color:$darkShade25;
    }
    &:focus{
      outline: none;
      border:1px solid $darkShade50;
    }
    &:hover{
      border:1px solid $darkShade50;
    }
  }
  
}