section.c-and-t
  .outer-container
    .c-and-t__header
      img.logo(src="assets/img/logo.svg", alt="logo")
    .container
      .c-and-t__main
        .c-and-t__colors
          .color-block 
            .color-block__square.dark100 
            .color-block__text 
              span.color-block__title Dark Shade 100%
              span.color-block__color #1F2041
          .color-block 
            .color-block__square.dark75 
            .color-block__text 
              span.color-block__title Dark Shade 75%
              span.color-block__color #1F2041
          .color-block 
            .color-block__square.dark50
            .color-block__text 
              span.color-block__title Dark Shade 50%
              span.color-block__color #1F2041
          .color-block 
            .color-block__square.dark25 
            .color-block__text 
              span.color-block__title Dark Shade 25%
              span.color-block__color #1F2041
          .color-block 
            .color-block__square.dark5 
            .color-block__text 
              span.color-block__title Dark Shade 5%
              span.color-block__color #1F2041
          .color-block 
            .color-block__square.purple 
            .color-block__text 
              span.color-block__title Purple
              span.color-block__color #BC9CFF
          .color-block 
            .color-block__square.green
            .color-block__text 
              span.color-block__title Green
              span.color-block__color #6FCF97
        .c-and-t__texts
          .text-item
            span.text-item__tag H1
            span.text-item__title.title This one is the sub-section or widget title
          .text-item
            span.text-item__tag.h2 H2
            span.text-item__title.widget--title Next one is the item title inside widgets
          .text-item
            span.text-item__tag.h3 H3
            span.text-item__title.label This is a label or CTA text
          .text-item
            span.text-item__tag.body Body
            span.text-item__title.body This is the body text which is used for most of the design, like paragraphs, lists, etc.