include ../../components/TextField/TextField
include ../../components/DropDown/DropDown
section.form-elements 
  .outer-container
    .header
      img.logo(src="assets/img/logo.svg", alt="logo")
    .container 
      .form-elements__inputs 
        .form-elements__fields
          +TextField('Text Field', 'Email', 'text-default', 'Default')
          +TextField('Text Field', 'Email', 'text-default', 'Hover / Focus', 'This is pretty awesome', 'active')
          +DropDown('dropdown')
        .form-elements__btns 
        .form-elements__pag