include ../../components/TextField/TextField
include ../../components/DropDown/DropDown
include ../../components/MaskedTextField/MaskedTextField
include ../../components/DatePicker/DatePicker
section.form-elements 
  .outer-container
    .header
      img.logo(src="assets/img/logo.svg", alt="logo")
    .container 
      .form-elements__inputs 
        .form-elements__fields
          +TextField('Text Field', 'Email', 'text-default', 'Default')
          +TextField('Text Field', 'Email', 'text-default', 'Hover / Focus', 'This is pretty awesome', 'active')
          +DropDown('dropdown')
          +MaskedTextField('text', 'masked text field')
          +DatePickerRange('datepicker-range', 'date Dropdown', 'date Dropdown')
          +DatePickerFilter('datepicker-filter', 'filter date dropdown', 'Выберите дату')
        .form-elements__btns 
        .form-elements__pag