include ../../components/TextField/TextField
include ../../components/DropDown/DropDown
include ../../components/MaskedTextField/MaskedTextField
include ../../components/DatePicker/DatePicker
include ../../components/SubsTextField/SubsTextField
include ../../components/CheckboxList/CheckboxList
include ../../components/RadioButtonsList/RadioButtonsList
include ../../components/ToggleButton/ToggleButton

section.form-elements 
  .outer-container
    .header
      img.logo(src="assets/img/logo.svg", alt="logo")
    .container 
      .form-elements__inputs 
        .form-elements__fields
          +TextField('Text Field', 'Email', 'text-default', 'Default')
          +TextField('Text Field', 'Email', 'text-default', 'Hover / Focus', 'This is pretty awesome', 'active')
          +DropDown('dropdown')
          +MaskedTextField('text', 'masked text field')
          +DatePickerRange('datepicker-range', 'date Dropdown', 'date Dropdown')
          .form-elements__fields--small
            +DatePickerFilter('datepicker-filter', 'filter date dropdown', 'Выберите дату')
            +SubsTextField('Email', 'subscription text field')
        .form-elements__buttons
          .form-elements__btns
            .form-elements__checkboxes--small 
              +CheckboxList('Checkbox Buttons', ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)'])
            .form-elements__radio--small
              +RadioButtonsList('Radio Buttons', ['Мужчина', 'Женщина'])
            .form-elements__toggle_btn
              h2.form-elements__toggle_btn--title Toggle
              +ToggleButton('toggle-chk', 'Получать спецпредложения', true)
              +ToggleButton('toggle-chk', 'Получать спецпредложения', false)
        .form-elements__pag