@import "~normalize.css/normalize.css";
@import "~reset-css/sass/reset.scss";
@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/main";
@import "./fonts";


//-----Base styles---------------
body{
  font-family: 'Montserrat';
  font-size: 19px;
}
.container{
  max-width: 1160px;
  margin: 0 auto;
}
.outer-container{
  max-width: 1440px;
  margin: 0 auto;
}

//-------Pages styles-----------
@import "./pages/colors_and_types/style";
@import "./pages/form_elements/style";

//------Components styles--------
@import "./components/DropDown/style";
@import "./components/TextField/style";
@import "./components/MaskedTextField/style";
@import "./components/DatePickerRange/style";